{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Foodle</title>
</head>
<body>
<div class="text-center">
    <br><br>
    <input type="file" id="file" name="file" style="display:none;" onchange="filechange(event)">
    <img class="col-xs-15" src="{% static "image/google_logo.png" %}" id="img-change" alt="Please select one food.">
    <br><br>
    <div class="row col-md-offset-2">
        <button id="btn_select" class="btn btn-large btn-default col-xs-12 col-md-9">Food</button>
    </div><br>
    <div class="row col-md-offset-4">
        <button id="btn_upload" class="btn btn-large btn-primary col-xs-3 col-md-2">Go!</button>
        <div class="col-md-1"></div>
        <a id="btn_one_click" target="_blank" class="btn btn-info col-md-2 col-xs-3">手气不错</a>
    </div><br><br>
</div>
    <div id="food_result" class="list-group col-md-8 col-md-offset-2">
        <div class="list-group-item">
            <h4 class="list-group-item-head">汉堡包</h4>
            <a href="#"  class="list-group-item-text">了解更多</a>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-head">汉堡包</h4>
            <a href="#"  class="list-group-item-text">了解更多</a>
        </div>
    </div>



<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static "javascript/ajaxfileupload.js"%}" type="application/javascript"></script>
<script type="application/javascript">

    var filechange=function(event){
        var files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
            if(file.size > 1024 * 1024 * 2) {
                alert('The selected image is too large(2MB)!');
                return false;
            }
            var URL = window.URL || window.webkitURL;
            var imgURL = URL.createObjectURL(file);
            $("#img-change").attr("src",imgURL);
            $("#img-change").show();
        }
    };

    $(document).ready(function(){
        $("#food_result").empty();
        $("#food_result").hide();

        $("#btn_select").click(function () {
            $("#file").click();
            $("#food_result").empty();
            $("#food_result").hide();
        });

        $("#btn_upload").click(function () {
            //alert("Try to upload");
            $.ajaxFileUpload({
                url: 'upload_file',
                fileElementId: $("#file").attr('id'),
                secureuri : false,
                data: {top_num: '5'},
                dataType: 'text',
                success: function (data){
                    if ($.isEmptyObject(data)){
                        alert("Sorry, we can not recognize the food, please try another.")
                    }
                    else{
                        //console.log(data);
                        data_json = $.parseJSON(data);
                        //console.log(data_json);
                        //alert(data_json["name"]);
                        $("#food_result").empty();
                        for (var i = 0; i < data_json.length; i++) {
                            one_food = data_json[i];
                            //console.log(one_food);
                            $("#food_result").append('<div class="list-group-item">' +
                                                     '<h4 class="list-group-item-head">' + one_food['name']  +
                                                     '<span class="badge" style="float:right;">'+one_food["score"]+'</span>' + '</h4>' +
                                                     '<a href="'+one_food["url"]+'"  class="list-group-item-text" target="_black">了解更多'+'</a>' +
                                                     '</div>');
                        }
                        $("#food_result").fadeIn();
                        //$("#food_name").text(data_json["name"]);
                        //$("#more_info_link").attr("href", data_json["one_click"])
                        //$("#img-alert").css("display","block");
                    }
                },
                error:function(data,status,e){
                    alert(e);
                }
            });
        });


        $("#btn_one_click").click(function () {
            //alert("Try to upload");
            $.ajaxFileUpload({
                url: 'upload_file',
                fileElementId: $("#file").attr('id'),
                secureuri : false,
                data: {top_num: '1'},
                dataType: 'text',
                success: function (data){
                    if ($.isEmptyObject(data)){
                        alert("Sorry, we can not recognize the food, please try another.")
                    }
                    else{
                        data_json = $.parseJSON(data);
                        window.open(data_json[0]["url"], "_blank")
                    }
                },
                error:function(data,status,e){
                    alert(e);
                }
            });
        });

    });
</script>
</body>
</html>