{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Foodle</title>
</head>
<body>
<div class="text-center">
    <br><br>
    <input type="file" id="file" name="file" style="display:none;" onchange="filechange(event)">
    <img class="col-xs-15" src="{% static "image/google_logo.png" %}" id="img-change" alt="Please select one food.">
    <br><br>
    <div class="row col-md-offset-2">
        <button id="btn_select" class="btn btn-large btn-default col-xs-12 col-md-9">Food</button>
    </div><br>
    <div class="row col-md-offset-4">
        <button id="btn_upload" class="btn btn-large btn-primary col-xs-3 col-md-2">Go!</button>
        <div class="col-md-1"></div>
        <a id="btn_one_click" target="_blank" class="btn btn-info col-md-2 col-xs-3">手气不错</a>
    </div><br><br>
</div>
    <div id="food_result" class="list-group col-md-8 col-md-offset-2">

    </div>



<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static "javascript/ajaxfileupload.js"%}" type="application/javascript"></script>
<script src="{% static "javascript/ImageResizer.js"%}" type="application/javascript"></script>
<script type="application/javascript">

    var img_blob;

    var filechange=function(event){
        var files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
            if(file.size > 1024 * 1024 * 20) {
                alert('The selected image is too large(2MB)!');
                return false;
            }
            var URL = window.URL || window.webkitURL;
            img = new Image();
            img.onload = function () {
                //console.log(this.width + " " + this.height);
                if (this.width > this.height){
                    re_width = 10000;
                    re_height = 224;
                }
                else{
                    re_width = 224;
                    re_height = 10000;
                }
                // make smaller size match 224
                //console.log(re_width, ' ', re_height);
                ImageTools.resize(event.target.files[0], {
                    width: re_width, // maximum width
                    height: re_height // maximum height
                }, function(blob, didItResize) {
                    // didItResize will be true if it managed to resize it, otherwise false (and will return the original file as 'blob')
                    img_blob = blob;
                    imgURL = URL.createObjectURL(blob);
                    $("#img-change").attr("src",imgURL);
                    $("#img-change").show();
                    // you can also now upload this blob using an XHR.
                });
            };
            img.src = URL.createObjectURL(file);
        }
    };

    $(document).ready(function(){
        $("#food_result").empty();
        $("#food_result").hide();


        $("#btn_select").click(function () {
            $("#file").click();
            $("#food_result").empty();
            $("#food_result").hide();
        });

        $("#btn_upload").click(function () {
            //console.log("Try to upload");

            var fd = new FormData();
            fd.append('top_num', '5');
            fd.append('file', img_blob);
            $.ajax({
                type: 'POST',
                url: 'upload_file',
                data: fd,
                processData: false,
                contentType: false
            }).done(function(data) {
                //console.log(data);
            }).success(function (data) {
                //console.log(data);
                data_json = $.parseJSON(data);
                $("#food_result").empty();
                for (var i = 0; i < data_json.length; i++) {
                    one_food = data_json[i];
                    $("#food_result").append('<div class="list-group-item">' +
                        '<h4 class="list-group-item-head">' + one_food['name']  +
                        '<span class="badge" style="float:right;">'+one_food["score"]+'</span>' + '</h4>' +
                        '<a href="'+one_food["url"]+'"  class="list-group-item-text" target="_black">了解更多'+'</a>' +
                        '</div>');
                }
                $("#food_result").fadeIn();
            }).error(function(data, status, e){
                console.log(status, data, e)
            });

        });


        $("#btn_one_click").click(function () {
            //alert("Try to upload");

            var fd = new FormData();
            fd.append('top_num', '1');
            fd.append('file', img_blob);
            $.ajax({
                type: 'POST',
                url: 'upload_file',
                data: fd,
                processData: false,
                contentType: false
            }).done(function(data) {
                //console.log(data);
            }).success(function (data) {
                if ($.isEmptyObject(data)){
                    alert("Sorry, we can not recognize the food, please try another.")
                }
                else{
                    data_json = $.parseJSON(data);
                    //alert("get food" + data_json[0]['name']);
                    window.open(data_json[0]["url"], "_blank")
                }
            }).error(function(data, status, e){
                console.log(status, data, e)
            });
        });

    });
</script>
</body>
</html>